<div>
	<h3>Slots</h3>

	<div class="row">
		<p class="col-md-12">
			<button type="button" class="btn btn-primary" ng-click="showNewItemForm()">Add New Slot</button>
		</p>
	</div><!-- /.row -->

	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-bordered table-hover table-striped tablesorter">
					<thead>
					<tr>
						<th>Description</th>
						<th>Options</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="item in items">
						<td>{{ item.description }}</td>
						<td>
							<button class="btn btn-default" ng-click="prepareItemForm(item)"><i class="fa fa-edit"></i> Edit</button>
							<button class="btn btn-warning" ng-click="prepareBannerAssociationForm(item)">Assign Contents</button>
							<a href="view.php?slotId={{ item.id }}" target="_blank" class="btn btn-success"> Show Slot</a>
							<button class="btn btn-danger" ng-click="deleteItem(item)"><i class="fa fa-eraser"></i> Delete</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div><!-- /.row -->


	<div class="modal" id="editDialog">
		<form role="form">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 ng-if="formMode == 'new'" class="modal-title">New Slot</h4>
						<h4 ng-if="formMode == 'edit'" class="modal-title">Edit Slot</h4>
					</div>
					<div class="modal-body">
						<div class="form-group input-group modal-input">
								<span class="input-group-addon">
									Description
								</span>
							<textarea class="form-control" rows="3" ng-model="editedItem.description"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-click="saveItem(editedItem)"><i class="fa fa-save"></i> Save</button>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i> Close</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</form>
	</div><!-- /.modal -->


	<div class="modal" id="assignBannersDialog">
		<form role="form">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Assign Banners To Slot</h4>
					</div>
					<div class="modal-body">
						<div>
						<span class="input-group-addon">
							Current slot: {{ editedSlot.description }}
							<table class="table table-bordered table-hover table-striped tablesorter">
								<thead>
								<tr>
									<th>Contents</th>
									<th>Options</th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="content in associatedContents">
									<td>{{ content.description }}</td>
									<td>
										<button class="btn btn-danger" ng-click="removeContentFromSlot(content)"><i class="fa fa-eraser"></i> Delete</button>
									</td>
								</tr>
								</tbody>
							</table>
						</span>
						</div>
						<div class="form-group input-group modal-input">
								<span class="input-group-addon">
									Content
								</span>
							<select id="role" class="form-control" ng-model="contentToAdd"
									ng-options="content.id as content.description for content in unAssociatedContents">
							</select>
							<span class="input-group-addon checkbox">
								<button type="button" ng-click="assignContentToSlot()">Assign To Slot</button>
							</span>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-click="closeAssignDialog()"><i class="fa fa-save"></i> OK</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</form>
	</div><!-- /.modal -->
</div>